{% extends 'base.html' %}

{% block meta %}
    <title>Member Details</title>
    <style>
        .container {
            background-color: #f8f9fa;
            border-radius: 5px;
            padding: 20px;
        }
        .member-details {
            max-width: 500px;
            margin: auto;
            padding: 30px;
            border-radius: 15px;
            box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        }
        .member-details h1 {
            text-align: center;
            margin-bottom: 30px;
        }
    </style>
{% endblock meta %}

{% block content %}
    <div class="container">
        <div class="member-details">
            <h1>Member Details</h1>

            <p><strong>Username:</strong> {{ account.user.username }}</p>
            <p><strong>Nama:</strong> {{ account.nama }}</p>
            <p><strong>Email:</strong> {{ account.email }}</p>
            <p><strong>Alamat:</strong> {{ account.alamat }}</p>
            <p><strong>Saldo:</strong> {{ account.saldo }}</p>

            <a href="{% url 'account:all_member_page' %}" class="btn btn-primary mt-3">Back</a>
        </div>
    </div>
{% endblock content %}
