{% extends 'base.html' %}

{% block content %}

<h1>
    Toko Buku Main Page
</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Date Added</th>
    </tr>

    {% comment %} Berikut cara memperlihatkan data produk di bawah baris ini {% endcomment %}

    {% for book in books %}
        <tr>
            <td>{{book.title}}</td>
            <td>{{book.author}}</td>
            <td>{{book.price}}</td>
        </tr>
    {% endfor %}
</table>

<br />

<a href="{% url 'book:add_book' %}">
    <button>
        Add New Book
    </button>
</a>

{% endblock content %}