{% extends 'base.html' %}
{% load static %}

{% block content %}



<div class="container m-4" id="main_container" background-color>


<h1 class="m-3">Toko Buku Pacil</h1>

{% if user.is_authenticated %}
{% if admin == 0 %}
  Saya bukan admin tapi akun biasa
{% endif %}

  <div class="d-grid gap-2 d-md-flex justify-content-md-end">
    {{user.username}}
		<a href="{% url 'account:logout_user' %}" class="btn btn-primary" type="button">Logout</a>
  </div>
{% else %}
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
  <a href="{% url 'account:login_user' %}" class="btn btn-primary" type="button">Login</a>
</div>
{% endif %}

{% if admin == 1 %}
  Saya admin
{% endif %}





<form id = "search_form" onsubmit="return false;">
  {% csrf_token %}
  <div class="mb-3">
    <input type="text" class="form-control" placeholder="Search" id="search" name="search"></input>
    <div class="search_form_check">
      <input class="form-check-input" type="radio" name="search_title_author" id="is_search_title" checked="">
      <label class="form-check-label" for="is_search_title">
        Judul
      </label>
    </div>
    <div class="search_form-check">
      <input class="form-check-input" type="radio" name="search_title_author" id="is_search_author">
      <label class="form-check-label" for="is_search_author">
        Pengarang
      </label>
    </div>
  </div>
</form>
<div>
</div>
<br/>
<form id = "sort_form" onsubmit="return false;">
  {% csrf_token %}
  <div class="mb-3">
    <div>Sort by:</div>
    <div class="sort_form_check">
      <input class="form-check-input" type="radio" name="sort_title_author_rating" id="is_sort_title" checked="">
      <label class="form-check-label" for="is_sort_title">
        Judul
      </label>
    </div>
    <div class="sort-form-check">
      <input class="form-check-input" type="radio" name="sort_title_author_rating" id="is_sort_author">
      <label class="form-check-label" for="is_sort_author">
        Pengarang
      </label>
    </div>
    <div class="sort-form-check">
      <input class="form-check-input" type="radio" name="sort_title_author_rating" id="is_sort_rating">
      <label class="form-check-label" for="is_sort_rating">
        Rating
      </label>
    </div>
  </div>
  <button type="button" class="btn btn-primary" id="button_search" >Apply</button>
</form>


<a href="{% url 'book:add_book' %}" class="btn btn-primary btn-sm m-3">Add New Book</a>

<div id="book_cards"></div>


<script>
    // async function getBooks() {
    //   if (document.querySelector("#is_sort_title").checked){
    //     return fetch("{% url 'main:get_book_json' 'title' %}").then((res) => res.json())
    //   }
    //   if (document.querySelector("#is_sort_author").checked){
    //     return fetch("{% url 'main:get_book_json' 'authors' %}").then((res) => res.json())
    //   }
    //   else{
    //     return fetch("{% url 'main:get_book_json' 'rating' %}").then((res) => res.json())
    //   }
    // }
    async function refreshAllBooks() {
      document.getElementById("book_cards").innerHTML = ""
      const books = await getBooks()

      
      let htmlString = `<div class="row row-cols-xl-5 row-cols-lg-4 row-cols-md-3">`
        books.forEach((book) => {
          htmlString += `\n
          <div class="card m-4">
                <div class="card-body">`
          if (book.fields.image){
            book_url = "media/" + book.fields.image
            htmlString += `\n <img src= ${book_url}  width="150" height="200" alt="connect">`
          }
          else{
            htmlString += `\n <img src="{% static 'book/images/default_book.png' %}" style="max-height:200px">`
          }
          htmlString += `\n
                    <h5 class="card-title">${book.fields.title}</h5>
                </div>
                <div class="card-body"
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Author: ${book.fields.authors}</li>
                  <li class="list-group-item">Price: ${book.fields.price}</li>
                  <li class="list-group-item">Rating: ${book.fields.rating}</li>
                </ul>
                </div>
                <div class="card-footer">
                    <button class="btn btn-primary btn-sm my-auto" onclick="detailBookAjax(${book.pk})">Detail</button>
                </div>
            </div>`
    })
    htmlString += `\n </div>`
  
      
      document.getElementById("book_cards").innerHTML = htmlString
    }

  
    refreshAllBooks()
  
    function detailBookAjax(id){
    }

    function getBooks(){
      fetch_string = "{% url 'main:search_book_json' 'search' 'sort' %}"

      if (document.querySelector("#is_search_title").checked){
        fetch_string = "{% url 'main:search_book_json' 'title' 'sort' %}"
        console.log("masuk sini")
      }
      if (document.querySelector("#is_search_author").checked){
        fetch_string = "{% url 'main:search_book_json' 'author' 'sort' %}"
      }


      if (document.querySelector("#is_sort_title").checked){
        fetch_string = fetch_string.replace("sort", "title")
      }
      if (document.querySelector("#is_sort_author").checked){
        fetch_string = fetch_string.replace("sort", "authors")
      }
      if (document.querySelector("#is_sort_rating").checked){
        fetch_string = fetch_string.replace("sort", "rating")
      }
      //     }).then((res) => res.json())
      //   }
      //   if (document.querySelector("#is_sort_author").checked){
      //     return fetch("{% url 'main:search_book_json' 'title' 'authors' %}",{
      //       method: "POST",
      //       body: new FormData(document.querySelector('#search_form'))
      //     }).then((res) => res.json())
      //   }
      //   else{
      //     return fetch("{% url 'main:search_book_json' 'title' 'rating' %}",{
      //       method: "POST",
      //       body: new FormData(document.querySelector('#search_form'))
      //     }).then((res) => res.json())
      //   }

      // }
      // else{
      //   if (document.querySelector("#is_sort_title").checked){
      //     return fetch("{% url 'main:search_book_json' 'author' 'title' %}",{
      //       method: "POST",
      //       body: new FormData(document.querySelector('#search_form'))
      //     }).then((res) => res.json())
      //   }
      //   if (document.querySelector("#is_sort_author").checked){
      //     return fetch("{% url 'main:search_book_json' 'author' 'authors' %}",{
      //       method: "POST",
      //       body: new FormData(document.querySelector('#search_form'))
      //     }).then((res) => res.json())
      //   }
      //   else{
      //     return fetch("{% url 'main:search_book_json' 'author' 'rating' %}",{
      //       method: "POST",
      //       body: new FormData(document.querySelector('#search_form'))
      //     }).then((res) => res.json())
      //   }
      // }

      console.log(fetch_string)
      return fetch(fetch_string,{
            method: "POST",
            body: new FormData(document.querySelector('#search_form'))
          }).then((res) => res.json())

      }

    document.getElementById("button_search").onclick = function(){
      refreshAllBooks()
    }

      
        
  
  </script>
  
  {% endblock content %}